/*************************

 BASE

*************************/



/*------------------------------------------ 
  GLOBAL
------------------------------------------*/
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body, html
  height: 100%
  background-color $white
  color: $black

hr
  border-bottom 5px solid red
  width 100%
  margin: 0
  padding: 0