/*************************

 CONTAINERS

*************************/



/*------------------------------------------ 
  WRAPPER
------------------------------------------*/
#wrapper
  display: flex
  flex-direction: column



/*------------------------------------------ 
  SEARCH SECTION
------------------------------------------*/
section.search
  display: flex
  margin-bottom: 40px
  h2
    @extend h4
    margin: 0 1em
    align-self: center
  .box-search
    background-color #fbfbfb
    flex: 1
    padding: 1em
    border-left: 1px solid $color_border
    border-bottom: 1px solid $color_border



/*------------------------------------------ 
  CONTAINER GLOBAL
------------------------------------------*/
section.container
  border-bottom: 1px solid $color_border
  padding: 1em 0 3em
  h4
    font-size: 1.1em
    text-transform: uppercase
    font-weight: 800
    letter-spacing: 1px
    padding: 1.65em 0 1.65em 1em



/*------------------------------------------ 
  CHART CONTAINER GLOBAL
------------------------------------------*/
.chart-container
  width 100%
  max-width: 1024px
  margin: 0 auto
  padding: 0 5%



/*------------------------------------------ 
  TRAFFIC SECTION
------------------------------------------*/
.menu-traffic
  display: inline-block
  float: right
  margin-right: 2em
  padding: 1.4em 0
  p
    margin:0 .2em
    padding: .2em .3em
    font-size: 1.3em
    font-weight: 900
    color: #aaa
    cursor: pointer
    &.active,
    &:hover
      background-color $color_success
      color: $color_body
      border-radius: 3px
.f-left, 
.menu-traffic, 
.menu-traffic *
  display: inline-block



/*------------------------------------------ 
  SETTINGS SECTION
------------------------------------------*/
.settings-container
  display: flex
  justify-content: space-between
  align-items: center
  padding: .5em 2em
  max-width 500px
  margin: 0 auto

.time-zone-container
  padding: 1em 0
  margin: 0 auto
  width 95%
  margin-bottom: 7em

