#wrapper
  display: flex
  flex-direction: column
  //justify-content: space-between
  //height: 100vh
#wrapper-sections
  //overflow-y: scroll

.menu-traffic
  display: inline-block
  float: right
  margin-right: 2em
  padding: 1.4em 0
  p
    margin:0 .2em
    padding: .2em .3em
    font-size: 1.3em
    font-weight: 900
    color: #aaa
    cursor: pointer
    &.active,
    &:hover
      background-color green
      color: #fafafa
      border-radius: 3px
.f-left, .menu-traffic, .menu-traffic *
  display: inline-block



section.search
  display: flex
  margin-bottom: 40px
  h2
    @extend h4
    margin: 0 1em
    align-self: center
  .box-search
    background-color #fbfbfb
    flex: 1
    padding: 1em
    border-left: 1px solid border_grey
    border-bottom: 1px solid border_grey

section.box
  //flex: 1 1 auto
  border-bottom: 1px solid border_grey
  h4
    font-size: 1.1em
    text-transform: uppercase
    font-weight: 800
    letter-spacing: 1px
    padding: 1.65em 0 1.65em 1em

.chart-container
  width 100%
  max-width: 1024px
  height 200px
  margin: 0 auto
  padding: 0 5%
  padding-bottom: 5%

.time-zone-container
  padding: 1em
  margin-bottom: 7em
  input
    float: none
    margin-bottom: 1.2em
    width 100%
  button
    width 48%
    display: inline-block