/*************************

 FOOTER

*************************/



footer
  position: fixed
  bottom: 0
  background-color $color_base-shade
  width 100%
  z-index: 4
  +mq(tablet)
    position: static
    order: -1
    width: auto
    z-index: auto