/*************************

 LAYOUT

*************************/



/*------------------------------------------ 
  REQUIRE
------------------------------------------*/

// reset
@require 'reset'
//@require 'normalize'

@require 'base'
@require 'typo'
@require 'header'
@require 'containers'
@require 'navigation'
@require 'footer'