/*************************

 NAVIGATION

*************************/



/*------------------------------------------ 
  MAIN NAV
------------------------------------------*/
nav.main-nav
  display: flex
  align-items: center
  .notify
    display: flex;
    padding: 1.85em 1em
    margin-right: -1px
    img
      width 18px
      height 18px
    &:after
      content ''
      width 5px
      height 5px
      background-color $color_success
      border-radius: 100%
      position: relative
      right: 2px
      top: -3px
  .user-menu
    display: flex
    align-items: center
    padding-left: 1.25em
    border-left: 1px solid darken($color_base, 8%)
    img
      height 30px
      width 30px
      border-radius: 100%
      margin-right: .65em


/*------------------------------------------ 
  NOTIFY NAV
------------------------------------------*/

nav.notify-items
  display: none
  position: absolute
  background-color $white
  color: $black
  top: 50px
  right 70px
  border: 1px solid $color_border
  border-radius: 0px 5px 5px
  z-index:5
  &.visible
    display: block
  p
    border-bottom: 1px solid $color_border
    padding: .2em .6em
    &:last-child
      border: none
    &:hover
      background-color $color_success
      color: $white
.notify:hover > nav
  display: block




/*------------------------------------------ 
  FOOTER NAV
------------------------------------------*/
nav.footer-nav
  display: flex
  flex-direction: row
  align-items: center
  text-align: center
  justify-content: space-around
  color: $color_body
  +mq(tablet)
    flex-direction: column
    margin-top: 2em
  .controls
    padding: 1.2em 1em
    width: 100%
    border-top: 4px solid transparent
    border-right: 4px solid transparent
    border-bottom: 4px solid transparent
    border-left: 4px solid transparent
    flex: 1 1
    img
      width 30px
    &:hover
      background-color darken($color_base, 8%)
      border-bottom: 4px solid $color_success
      +mq(tablet)
        border-bottom: 4px solid transparent
        border-left: 4px solid $color_success

