// reset button
button
  border: none
  background-color transparent
  outline: none

button
  padding: 1em 1em
  background-color lilla
  border-radius 4px
  width 100%
  color: white
  font-size: 1.3em
  font-weight: 800
  letter-spacing: 1px
  text-transform: uppercase
  margin-bottom: 1.4em

.notify:hover
  background-color darken(lilla, 8%)