/*************************

 BOX DIALOG

*************************/



/*------------------------------------------ 
  ALERT
------------------------------------------*/
#alert-message
  display: flex
  align-items: center
  justify-content: space-between
  padding: .65em 1em
  background-color: $color_base
  color: white
  font-size: 1.6em
  width 95%
  height: 100%
  margin: 1.2em auto
  border-radius 10px
  opacity: 1
  transition: opacity .3s ease-in-out, padding .5s step-start, margin .5s step-start, height .5s step-start
  .closeBtn
    font-size: 1em
    font-weight: 900
    cursor: pointer
    padding: 3px
    margin-left: 20px
    transition: 0.2s;
    color: darken($color_base, 10%)
    &:hover
      color: darken($color_base, 40%)
input[type="checkbox"]
  display: none
input[type="checkbox"]:checked ~ #alert-message
  padding: 0
  margin: 0 auto
  height: 0
  opacity: 0
  overflow: hidden
  transition-timing-function: ease-in-out, step-end, step-end, step-end



/*------------------------------------------ 
  POP
------------------------------------------*/
#searchForUserForm
    position: relative
    overflow: hidden
    .error,
    .success
      background-color rgba($black, .5)
      border-radius 5px
      position absolute
      top:0
      bottom: 0
      right: 0
      left: 0
      margin: 0 4em
      transform: translateY(300%)
      display: flex
      align-items: center
      justify-content: center
      color: $white
      height 50%
      visibility: hidden
      opacity: 0
    .error
      transform: translateY(-300%)
    .success
      background-color rgba($color_success, .8)

#result
  position: relative
  ul
    position: absolute
    top -20px
    margin: 0
    padding 0
    background-color rgba($black, 0.8)
    border-radius 5px
    color $white
    font-size: 1.1em
    padding: 1em 1.6em
    overflow: hidden
    li
      border-bottom: 1px solid $color_border
      padding: .4em .2em
      margin .2em 0
      &:last-child
        border-bottom: none
        margin-bottom: 0
      &:hover
        background-color $color_success