//reset forms elements
input
  border: none
  outline: none
  background-color transparent
  -webkit-appearance: none
  &:focus,
  &:select
    outline: 0

.box-search
    input
      float: right
      padding: .65em 1.35em
      color: #777
      font-size: 1.225em
      border: 1px solid border_grey
      border-radius: 6px
      max-width: 100%