//reset forms elements
input,
textarea
  border: none
  outline: none
  background-color transparent
  -webkit-appearance: none
  &:focus,
  &:select
    outline: 0


input
  padding: .65em 1.35em
  color: #666
  font-size: 1.4em
  border: 1px solid border_grey
  border-radius: 6px
  max-width: 100%
  width: 100%

.box--message-user
  form
    padding: 0 1.4em
  input,
  textarea
    @extend input
    background-color #f5f5f5
    margin-bottom: 1.6em
  textarea
    height 140px

input#main-search
  float right
  max-width: 300px
    
    
  textarea
    height 130px
    padding: 1.1em 1.35em

    


