/*************************

 FORMS

*************************/



/*------------------------------------------ 
  NOTIFY
------------------------------------------*/
.notify
  position: relative
  &:hover
    background-color darken($color_base, 8%)
    cursor: pointer