/*************************

 FORMS

*************************/



/*------------------------------------------ 
  NOTIFY
------------------------------------------*/
.notify:hover
  background-color darken($color_base, 8%)