.social-box
  display: flex
  flex-direction: column

  .social-box--facebook
  .social-box--twitter
  .social-box--google
  .social-box--instagram
    display: flex
    align-items: center
    margin: 1em 2em
    padding: 1em 2em
    border: 1px solid border_grey
    border-radius: 4px
    background-color #fbfbfb
    .social-name
      font-size: 1.4em
      font-weight: 900
      text-transform: capitalize
      color: lilla
    .social-number
      font-size: 3em
      font-weight: 200

    .social-img
      padding: 1em
      
      background-color lilla
      border-radius: 100%
      width 60px
      height 60px
      img
        image-v(40px)
    .social-text
      margin-left: 1.8em
  .social-box--facebook
    //margin: 2em