<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title Front-End Starter Kit
  link(rel="stylesheet", href="css/app.css")
body
  #wrapper
    header.main-header
      h1.main-title <b>Your</b>App<sup>TM</sup>
      nav.main-nav
        .notify
          img(src="img/icons/icon-bell.svg", alt="Notify Icon")
        .user-menu
          img(src="img/user.gif", alt="User Photo")
          p Mattia Piano
    
    section.search
      h2 Dashboard
      .box-search
        input(type="search", placeholder="Search")
    #wrapper-sections
      section.box.box--traffic
        h4 traffic
      section.box.box--daily-traffic
        h4 daily traffic
      section.box.box--mobile-users
        h4 mobile users
      section.box.box--social
        h4 social stats
        .social-box
          .social-box--facebook
            .social-img
              img(src="img/icons/icon-facebook.svg", alt="icon facebook")
            .social-text
              p.social-name facebook
              p.social-number 8,739
          .social-box--twitter
            .social-img
              img(src="img/icons/icon-twitter.svg", alt="icon twitter")
            .social-text
              p.social-name twitter
              p.social-number 10,345
          .social-box--google
            .social-img
              img(src="img/icons/icon-google-plus.svg", alt="icon google+")
            .social-text
              p.social-name google+
              p.social-number 2,530
          .social-box--instagram
            .social-img
              img(src="img/icons/icon-instagram.svg", alt="icon instagram")
            .social-text
              p.social-name instagram
              p.social-number 6,913
      section.box.box--new-members
        h4 new members
      section.box.box--recent-activity
        h4 recent activity
      section.box.box--message-user
        h4 message user
      section.box.box--settings
        h4 settings
    footer
      nav.footer-nav
        .controls.controls--dashboard
          img(src="img/icons/icon-dashboard.svg", alt="icon dashboard")
          p dashboard
        .controls.controls--members
          img(src="img/icons/icon-members.svg", alt="icon members")
          p members
        .controls.controls--dashboard
          img(src="img/icons/icon-visits.svg", alt="icon visits")
          p visits
        .controls.controls--settings
          img(src="img/icons/icon-settings.svg", alt="icon settings")
          p settings
        
  script(src="js/app.js")
  