<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title Web App Dashboard
  link(rel="stylesheet", href="css/app.css")
body
  #wrapper
    header.main-header
      h1.main-title <b>Your</b>App<sup>TM</sup>
      nav.main-nav
        .notify
          img(src="img/icons/icon-bell.svg", alt="Notify Icon")
        .user-menu
          img(src="img/user.gif", alt="User Photo")
          p Mattia Piano
    
    section.search
      h2 Dashboard
      .box-search
        input(type="search", placeholder="Search")
    #wrapper-sections
      section.box.box--traffic
        h4.f-left traffic
        .menu-traffic
          p.hourly Hourly
          p.daily Daily
          p.weekly Weekly
          p.monthly Monthly
        .chart-container
          canvas(id="traffic-chart")
      section.box.box--daily-traffic
        h4 daily traffic
        .chart-container
          canvas(id="daily-traffic-chart")
      section.box.box--mobile-users
        h4 mobile users
        .chart-container
          canvas(id="mobile-users-chart")
      section.box.box--social
        h4 social stats
        .social-box
          .social-box--facebook
            .social-img
              img(src="img/icons/icon-facebook.svg", alt="icon facebook")
            .social-text
              p.social-name facebook
              p.social-number 8,739
          .social-box--twitter
            .social-img
              img(src="img/icons/icon-twitter.svg", alt="icon twitter")
            .social-text
              p.social-name twitter
              p.social-number 10,345
          .social-box--google
            .social-img
              img(src="img/icons/icon-google-plus.svg", alt="icon google+")
            .social-text
              p.social-name google+
              p.social-number 2,530
          .social-box--instagram
            .social-img
              img(src="img/icons/icon-instagram.svg", alt="icon instagram")
            .social-text
              p.social-name instagram
              p.social-number 6,913
      section.box.box--new-members
        h4 new members
        .box-new-member
          img(src="img/members/victoria.jpg", alt="Photo member")
          .box-members-text
            p.name Victoria Chambers
            p.email victoria.chambers80@example.com
          p.date 10/15/15
        .box-new-member
          img(src="img/members/dale.jpg", alt="Photo member")
          .box-members-text
            p.name Dale Byrd
            p.email dale.bird52@example.com
          p.date 10/15/15
        .box-new-member
          img(src="img/members/dawn.jpg", alt="Photo member")
          .box-members-text
            p.name Dawn Wood
            p.email dawn.wood16@example.com
          p.date 10/15/15
        .box-new-member
          img(src="img/members/dan.jpg", alt="Photo member")
          .box-members-text
            p.name Dan Oliver
            p.email dan.oliver82@example.com
          p.date 10/15/15
      section.box.box--recent-activity
        h4 recent activity
        .box-activity
          img(src="img/members/victoria.jpg", alt="Photo member")
          .box-members-activity
            p.activity Victoria Chambers commented on YourApp's SEO Tips
            p.time 4 hours ago
          p.arrow
        .box-activity
          img(src="img/members/dale.jpg", alt="Photo member")
          .box-members-activity
            p.activity Dale Byrd
            p.time 5 hours ago
          p.arrow
        .box-activity
          img(src="img/members/dawn.jpg", alt="Photo member")
          .box-members-activity
            p.activity Dawn Wood
            p.time 5 hours ago
          p.arrow
        .box-activity
          img(src="img/members/dan.jpg", alt="Photo member")
          .box-members-activity
            p.activity Dan Oliver
            p.time 1 day ago
          p.arrow
      section.box.box--message-user
        h4 message user
        form(action="")
          input(type="search" placeholder="Search for User")
          textarea(placeholder="Message for User")
          button(type="submit") send
      section.box.box--settings
        h4 settings
        .settings-container
          p.send-email Send Email Notification
          .switch-container
            input(class="switch-checkbox" type="checkbox" id="switch_1")
            label(class="switch" for="switch_1")
              span.point
            
        .settings-container
          p.set-profile Set profile to pubblic
          .switch-container
            input(class="switch-checkbox" type="checkbox" id="switch_2")
            label(class="switch" for="switch_2")
              span.point
        .time-zone-container
          input(type="text" placeholder="Select Timezone")
          button save
          button cancell
    footer
      nav.footer-nav
        .controls.controls--dashboard
          img(src="img/icons/icon-dashboard.svg", alt="icon dashboard")
          p dashboard
        .controls.controls--members
          img(src="img/icons/icon-members.svg", alt="icon members")
          p members
        .controls.controls--dashboard
          img(src="img/icons/icon-visits.svg", alt="icon visits")
          p visits
        .controls.controls--settings
          img(src="img/icons/icon-settings.svg", alt="icon settings")
          p settings
        
  script(src="js/app.js")
  