// colors
$color_base = $lilla
$color_body = $white
$color_text = $black
$color_border = $grey-light

$color_base-shade = shade($lilla, 35%)
$color_success = $green
/*
color_link =

*/

// import google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,800');

// media queries
media_queries = {
  tablet  : "only screen and (min-width: 601px)",
  desktop : "only screen and (min-width: 801px)"
}